.tabs {
  margin-bottom: 2vh;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

.tabs button {
  min-width: 13rem;
  padding: 0.4rem 0.8rem;
  font-size: 2rem;
  border: none;
  border-bottom: 3px solid var(--border-color);
  background-color: transparent;
  color: var(--color);
}

.tabs button.active {
  background-color: var(--border-color);
}
