.product {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.4rem;
  font-size: 1.4rem;
  border-radius: 1.2rem;
  background-color: var(--card-color);
}

.header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding: 0;
  margin: 0;
}

.externalLink {
  text-decoration: none;
  color: var(--color);
}

.externalLinkIcon {
  font-size: 1rem;
}

.error,
.warning,
.notice {
  padding: 0.6rem;
  border-radius: 0.6rem;
}

.backBtn {
  padding: 0.6rem 1rem;
}

.paymentBtn:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 840px) {
  .product {
    max-width: 100%;
    width: 80%;
  }
}
