.auth {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sf-row {
  margin-bottom: 0.5rem;
}

.subscribeBtn {
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: var(--brand-color);
}
