.auth {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 90%;
}

.auth:empty {
  margin: 2vh 0 0 0;
}

.subscriptionForm {
  max-width: 38rem;
}

.sf-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.sf-rowColumn {
  flex-direction: column;
}

.sf-rowColumn label {
  margin-bottom: 0.2rem;
}

.sf-row input[type="checkbox"] {
  margin-right: 0.7rem;
  margin-top: 0.4rem;
  min-width: 5%;
}

.input {
  width: auto;
}