.Web3Connect {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.connectButton,
.disconnectButton {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  background-color: transparent;
  transition: 0.2s;
}

.connectButton {
  background-color: var(--brand-color);
}

.connectButton:hover {
  opacity: 0.6;
}

.account {
  display: flex;
  flex-direction: column;
}

.warning {
  font-size: 1.3rem;
  max-width: 30rem;
  margin-top: 1rem;
}

.networksList {
  padding: 0 0 0 1.3rem;
  margin: 1rem 0 0 0;
}
