.Web3Connect {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.connectButton,
.disconnectButton {
  margin-top: 1rem;
  padding: .5rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  background-color: transparent;
}

.connectButton {
  background-color: var(--brand-color);
}

.account {
  display: flex;
  flex-direction: column;
}